
@{
    ViewBag.Title = "LogIn";
}

<h3>Iniciar Sesión</h3>
<br />

@model CARS.Usuario

<div class="row">
    <div class="col-md-8">
        <form method="post" action="LogIn/ValidarLogIn">
            <div class="form-group">

                @Html.LabelFor(m => m.Mail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10 input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="email" id="email" required name="email" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Contrasenia, new { @class = "col-md-2 control-label" })
                <div class="col-md-10 input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password" id="pass" required name="pass" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<a href="~/LogIn/OlvideMiContrasenia" class="btn-xs">Olvidé mi contraseña</a>*@
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </div>

        </form>

    </div>
</div>




