
@{
    ViewBag.Title = "OlvideMiContrasenia";
}

<h2>Olvidaste tu contraseña?</h2>

<label for="email">Mail </label>
<input type="text" id="email" name="email" />

<button class="btn btn-primary">Solicitar</button>
