
@{
    ViewBag.Title = "Ayuda";
}

    
<form>

<button id="manual" class="form-control" onclick="GetClientReport()" >Manual de Usuario</button>

</form>

<script type="text/javascript">
    function GetClientReport() {
       @*window.open("/Home/GetReport"); *@
        
      window.open("https://docs.google.com/document/d/e/2PACX-1vSmlzzuUDgW3Qd-lmwzwC9aCSry4nxAmGQmKN6NsWBMmQiribIffnipxNCQYzeOUe4MxtmwWD7lstmc/pub");
</script>