
@{
    ViewBag.Title = "Ayuda";
}

<form>
<button id="manual" class="form-control" onclick="GetClientReport()" >Manual de Usuario</button>
</form>

<script type="text/javascript">
    function GetClientReport() {
        window.open("/Home/GetReport");
    };

</script>