<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@model IEnumerable<CARS.Models.Incidencia>


@{
    ViewBag.Title = "Inicio";
}


<ul class="nav nav-tabs">
    <li class="active">
        <a class="nav-link active" role="button" id="Pendientes" data-toggle="tab" onclick="RenderTableIncidencia(4)">Pendientes <span class="badge">@ViewBag.IncidenciasPendientes</span></a>
    </li>
    <li class="nav-item">
        <a id="Procesando" role="button" class="nav-link" data-toggle="tab" onclick="RenderTableIncidencia(3)">Procesando </a>
    </li>
    <li class="nav-item">
        <a id="Finalizadas" role="button" class="nav-link" data-toggle="tab" onclick="RenderTableIncidencia(1)">Finalizadas </a>
    </li>
    <li class="nav-item">
        <a id="Cancelada" role="button" data-toggle="tab" onclick="RenderTableIncidencia(2)">Canceladas </a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="pendientes">
        <input type="hidden" name="estado" value="Pendientes" />

        <div class="row" id="listadosIncidencia" data-backdrop="false">
            @Html.Partial("ListadoIncidenciasHome", Model)
        </div>
    </div>
    <div class="tab-pane fade" id="finalizadas">
        <div class="row">
        </div>

    </div>
    <script type="text/javascript">

        function RenderTableIncidencia(id) {
            var x = $("#listadosIncidencia");
            x.load("/Home/MostrarListaIncidencia/" + id, function () {
                x.modal('show');
            });
        }

    </script>
</div>

